<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @offer.shop %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Url:</strong>
  <%= @offer.url %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
